In [6]:
import pandas as pd

In [7]:
train = pd.read_csv('train.csv')

In [8]:
train.head()

   userId  itemId  rating                 date
0  cgexjc  682978       4  2017-08-13 13:23:35
1  cgexjc  320898       4  2019-01-18 15:56:07
2  cgexjc   29028       4  2017-08-13 14:03:55
3  cgexjc  399148       5  2017-08-13 13:59:51
4  cgexjc  734055       4  2019-01-18 15:37:29

In [9]:
train.tail()

         userId  itemId  rating                 date
8612102  blqyzd  148210       1  2017-08-05 14:15:09
8612103  blqyzd  735535       4  2017-08-05 14:14:35
8612104  blqyzd  124242       3  2017-08-05 14:25:33
8612105  blqyzd  948393       4  2017-08-05 13:25:21
8612106  blqyzd  163356       4  2017-08-05 14:24:57

In [10]:
users = train['userId'].unique()
len(users)

54754

In [11]:
items = train['itemId'].unique()
len(items)

55093

In [12]:
test = pd.read_csv('test.csv')

In [13]:
test.head()

   userId  itemId                 date
0  cgexjc  857869  2021-08-18 00:40:19
1  cgexjc  631765  2021-08-18 01:31:23
2  cgexjc  232633  2021-08-18 01:12:46
3  cgexjc  259982  2021-08-18 00:50:49
4  cgexjc  131945  2021-08-18 00:56:13

In [14]:
test.tail()

        userId  itemId                 date
131353  yzesmd  388934  2021-07-30 08:48:06
131354  yzesmd  571188  2021-07-30 08:49:17
131355  yzesmd  707682  2021-07-30 08:49:40
131356  yzesmd   44761  2021-07-30 08:48:55
131357  yzesmd  699794  2021-07-30 14:21:08

In [15]:
users

array(['cgexjc', 'vprmmq', 'mkxnry', ..., 'csfuny', 'npvfop', 'blqyzd'],
      dtype=object)

In [16]:
items

array([682978, 320898,  29028, ..., 241939,  75144, 896420])

In [18]:
import matplotlib.pyplot as plt

In [19]:
test

        userId  itemId                 date
0       cgexjc  857869  2021-08-18 00:40:19
1       cgexjc  631765  2021-08-18 01:31:23
2       cgexjc  232633  2021-08-18 01:12:46
3       cgexjc  259982  2021-08-18 00:50:49
4       cgexjc  131945  2021-08-18 00:56:13
...        ...     ...                  ...
131353  yzesmd  388934  2021-07-30 08:48:06
131354  yzesmd  571188  2021-07-30 08:49:17
131355  yzesmd  707682  2021-07-30 08:49:40
131356  yzesmd   44761  2021-07-30 08:48:55
131357  yzesmd  699794  2021-07-30 14:21:08

[131358 rows x 3 columns]

In [20]:
import tensorflow as tf
import keras

In [23]:
rate = train.groupby(["userId"]).agg({"rating": "mean", "itemId": "count"}).rename(columns={"itemId": "vote"}).sort_values("rating", ascending=False)

In [24]:
rate

        rating  vote
userId
nbcfgs     5.0    28
hccmjh     5.0    89
hqzzdc     5.0     2
ebzlgs     5.0     1
uztrwf     5.0     9
...        ...   ...
iqwzus     1.0     1
pzubxh     1.0     1
jkbxfp     1.0     1
xjmhpt     1.0     1
ttbigm     1.0     1

[54754 rows x 2 columns]

In [27]:
sale = train.groupby(["itemId"]).agg({"rating": "mean", "userId": "count"}).rename(columns={"userId": "vote"}).sort_values("rating", ascending=False)

In [28]:
sale

        rating  vote
itemId
90490      5.0     1
221478     5.0     1
939811     5.0     1
626085     5.0     1
412670     5.0     1
...        ...   ...
217019     1.0     2
763875     1.0     1
442750     1.0     1
442810     1.0     1
231839     1.0     3

[55093 rows x 2 columns]

In [30]:
df_top_rate = train.groupby(["itemId"]).agg({"rating": "mean", "userId": "count"}).rename(columns={"userId": "n_rate"})
df_top_rate = df_top_rate[df_top_rate.n_rate > 10]
df_top_rate.sort_values("rating", ascending=False)[:10]

          rating  n_rate
itemId
732163  4.338693     995
970031  4.327564    1560
969183  4.235696    1171
424507  4.230769      13
496578  4.219298     228
273349  4.214286      28
960894  4.214040   30812
833406  4.181818      11
408459  4.179878     328
541816  4.166667      12

In [31]:
df_top_rate.sort_values("n_rate", ascending=False)[:10]

          rating  n_rate
itemId
934793  3.957459   32533
754693  3.975107   31696
960894  4.214040   30812
441892  3.973833   28700
761740  4.078499   28013
625670  3.902541   27037
189667  3.939501   26711
138996  3.893722   26647
351940  3.883349   24792
701603  4.078577   24320

In [34]:
df_top_vote = train.groupby(["itemId"]).agg({"rating": "mean", "userId": "count"}).rename(columns={"userId": "n_vote"})
df_top_vote = df_top_vote[df_top_vote.n_vote > 10]
df_top_vote.sort_values("n_vote", ascending=False)[:10]

          rating  n_vote
itemId
934793  3.957459   32533
754693  3.975107   31696
960894  4.214040   30812
441892  3.973833   28700
761740  4.078499   28013
625670  3.902541   27037
189667  3.939501   26711
138996  3.893722   26647
351940  3.883349   24792
701603  4.078577   24320

In [36]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(train, random_state=42, test_size=0.2, stratify=train.rating)

In [39]:
df_train.head()

         userId  itemId  rating                 date
8413924  styjok  354297       3  2018-03-28 03:55:43
637255   qfiatq  951004       4  2015-10-10 12:33:30
5567059  oxavui  200668       3  2016-09-14 16:41:44
6515629  pjdnxf  917544       4  2019-03-29 15:19:58
961994   rmndvy  886236       2  2017-10-16 04:30:25

In [40]:
df_test.head()

         userId  itemId  rating                 date
7338407  qyvovf  359373       3  2014-02-05 15:41:47
3939375  efnooq  371859       1  2018-05-23 05:01:03
3388722  rqssya  503893       4  2017-03-23 23:34:34
5887226  tpufjp  307148       2  2020-05-23 13:05:18
79759    ngcpya   24783       4  2020-04-28 17:04:54

In [42]:
len(df_train)

6889685

In [43]:
len(df_test)

1722422

In [44]:
dict_items = {}
index = 0
for ids in sorted(items):
    dict_items[ids] = index
    index += 1

dict_users = {}
index = 0
for ids in sorted(users):
    dict_users[ids] = index
    index += 1

df_train["itemId"] = df_train["itemId"].map(dict_items)
df_test["itemId"] = df_test["itemId"].map(dict_items)

df_train["userId"] = df_train["userId"].map(dict_users)
df_test["userId"] = df_test["userId"].map(dict_users)

In [46]:
df_train.head()

         userId  itemId  rating                 date
8413924   39510   19502       3  2018-03-28 03:55:43
637255    34112   52359       4  2015-10-10 12:33:30
5567059   31352   11087       3  2016-09-14 16:41:44
6515629   32312   50509       4  2019-03-29 15:19:58
961994    36819   48724       2  2017-10-16 04:30:25

In [47]:
test["itemId"] = test["itemId"].map(dict_items)

test["userId"] = test["userId"].map(dict_users)

In [49]:
test.head()

   userId  itemId                 date
0    4685   47118  2021-08-18 00:40:19
1    4685   34766  2021-08-18 01:31:23
2    4685   12877  2021-08-18 01:12:46
3    4685   14345  2021-08-18 00:50:49
4    4685    7305  2021-08-18 00:56:13

In [51]:
for col in ["userId", "itemId", "rating"]:
    df_train[col] = df_train[col].astype(np.float32)
    df_test[col] = df_test[col].astype(np.float32)
for col in ["userId", "itemId"]:
    test[col] = test[col].astype(np.float32)

In [53]:
num_unique_users=len(set(list(df_train.userId.unique()) + list(df_test.userId.unique())))
num_unique_items=len(set(list(df_train.itemId.unique()) + list(df_test.itemId.unique())))

In [72]:
EMBEDDING_SIZE = 50
users_input = keras.Input(shape=(1,), name="users_input")
users_embedding = keras.layers.Embedding(num_unique_users + 1, EMBEDDING_SIZE, name="users_embeddings")(users_input)
users_bias = keras.layers.Embedding(num_unique_users + 1, 1, name="users_bias")(users_input)

items_input = keras.Input(shape=(1,), name="movies_input")
items_embedding = keras.layers.Embedding(num_unique_items + 1, EMBEDDING_SIZE, name="movies_embedding")(items_input)
items_bias = keras.layers.Embedding(num_unique_items + 1, 1, name="movies_bias")(items_input)

dot_product_users_items = keras.layers.multiply([users_embedding, items_embedding])
input_terms = dot_product_users_items + users_bias + items_bias
input_terms = keras.layers.Flatten(name="fl_inputs")(input_terms)
output = keras.layers.Dense(1, activation="relu", name="output")(input_terms)
model = keras.Model(inputs=[users_input, items_input], outputs=output)

In [73]:
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 users_input (InputLayer)       [(None, 1)]          0           []

 movies_input (InputLayer)      [(None, 1)]          0           []

 users_embeddings (Embedding)   (None, 1, 50)        2737750     ['users_input[0][0]']

 movies_embedding (Embedding)   (None, 1, 50)        2754700     ['movies_input[0][0]']

 multiply_4 (Multiply)          (None, 1, 50)        0           ['users_embeddings[0][0]',
                                                                  'movies_embedding[0][0]']

 users_bias (Embedding)         (None, 1, 1)         54755       ['users_input[0][0]']

 tf.__operators__.add_8 (TFOpLa  (None, 1, 50)       0           ['multiply_4[0][0]',
 mbda)                                                            'users_bias[0][0]']

 movies_bias (Embedding)        (None, 1, 1)         55094       ['movies_input[0][0]']

 tf.__operators__.add_9 (TFOpLa  (None, 1, 50)       0           ['tf.__operators__.add_8[0][0]',
 mbda)                                                            'movies_bias[0][0]']

 fl_inputs (Flatten)            (None, 50)           0           ['tf.__operators__.add_9[0][0]']

 output (Dense)                 (None, 1)            51          ['fl_inputs[0][0]']

==================================================================================================
Total params: 5,602,350
Trainable params: 5,602,350
Non-trainable params: 0
__________________________________________________________________________________________________

In [77]:
opt_adam = tf.keras.optimizers.Adam(lr = 0.005)
model.compile(optimizer=opt_adam, loss= ['mse'], metrics=[tf.keras.metrics.MeanSquaredError()])

/home/alireza/.local/lib/python3.9/site-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [87]:
model.fit(x=[df_train.userId.values, df_train.itemId.values], y=df_train.rating.values, batch_size=512, epochs=3, verbose=1, validation_data=([df_test.userId.values, df_test.itemId.values], df_test.rating.values))

Epoch 1/3
13457/13457 [==============================] - 903s 67ms/step - loss: 0.7966 - mean_squared_error: 0.7966 - val_loss: 0.6577 - val_mean_squared_error: 0.6577
Epoch 2/3
13457/13457 [==============================] - 938s 70ms/step - loss: 0.5629 - mean_squared_error: 0.5629 - val_loss: 0.6339 - val_mean_squared_error: 0.6339
Epoch 3/3
13457/13457 [==============================] - 930s 69ms/step - loss: 0.4796 - mean_squared_error: 0.4796 - val_loss: 0.6481 - val_mean_squared_error: 0.6481

In [88]:
model.save("model.h5")
print("Saved model to disk")

/home/alireza/.local/lib/python3.9/site-packages/keras/engine/functional.py:1410: CustomMaskWarning: Custom mask layers require a config and must override get_config. When loading, the custom mask layer must be passed to the custom_objects argument.
  layer_config = serialize_layer_fn(layer)

Saved model to disk

In [89]:
from keras.models import load_model

In [90]:
model = load_model('model.h5')

In [91]:
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 users_input (InputLayer)       [(None, 1)]          0           []

 movies_input (InputLayer)      [(None, 1)]          0           []

 users_embeddings (Embedding)   (None, 1, 50)        2737750     ['users_input[0][0]']

 movies_embedding (Embedding)   (None, 1, 50)        2754700     ['movies_input[0][0]']

 multiply_4 (Multiply)          (None, 1, 50)        0           ['users_embeddings[0][0]',
                                                                  'movies_embedding[0][0]']

 users_bias (Embedding)         (None, 1, 1)         54755       ['users_input[0][0]']

 tf.__operators__.add_8 (TFOpLa  (None, 1, 50)       0           ['multiply_4[0][0]',
 mbda)                                                            'users_bias[0][0]']

 movies_bias (Embedding)        (None, 1, 1)         55094       ['movies_input[0][0]']

 tf.__operators__.add_9 (TFOpLa  (None, 1, 50)       0           ['tf.__operators__.add_8[0][0]',
 mbda)                                                            'movies_bias[0][0]']

 fl_inputs (Flatten)            (None, 50)           0           ['tf.__operators__.add_9[0][0]']

 output (Dense)                 (None, 1)            51          ['fl_inputs[0][0]']

==================================================================================================
Total params: 5,602,350
Trainable params: 5,602,350
Non-trainable params: 0
__________________________________________________________________________________________________

In [92]:
test

         userId   itemId                 date
0        4685.0  47118.0  2021-08-18 00:40:19
1        4685.0  34766.0  2021-08-18 01:31:23
2        4685.0  12877.0  2021-08-18 01:12:46
3        4685.0  14345.0  2021-08-18 00:50:49
4        4685.0   7305.0  2021-08-18 00:56:13
...         ...      ...                  ...
131353  52593.0  21459.0  2021-07-30 08:48:06
131354  52593.0  31495.0  2021-07-30 08:49:17
131355  52593.0  38917.0  2021-07-30 08:49:40
131356  52593.0   2456.0  2021-07-30 08:48:55
131357  52593.0  38520.0  2021-07-30 14:21:08

[131358 rows x 3 columns]

In [94]:
y_pred = model.predict([test.userId.values, test.itemId.values])

In [95]:
y_pred

array([[4.5952644],
       [4.661825 ],
       [4.3153377],
       ...,
       [3.2462986],
       [2.0836883],
       [2.8344905]], dtype=float32)

In [96]:
len(y_pred)

131358

In [97]:
import numpy 
numpy.savetxt("output.csv", y_pred, delimiter="\n", header="prediction")